<!-- <form ng-submit="submit()" name="myForm" class="my-form">
    userType: <input name="input"
        ng-model="user.name"
        required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <code>userType = {{userType}}</code><br>
    <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br>
    <code>myForm.input.$error = {{myForm.input.$error}}</code><br>
    <code>myForm.$valid = {{myForm.$valid}}</code><br>
    <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br>
 
    <div grecaptcha ng-model="user.token" required name="grecaptcha" ></div>
    <code>myForm.grecaptcha.$error = {{myForm.grecaptcha.$error}}</code><br>

    {{ user | json }}

    <input type="number" name="dada" ng-model="user.value" min="0" max="99" required>



    <button > submit</button>
</form> -->



 

  <div class="dropdown">
    <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown trigger
      <span class="caret"></span>
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
  


<!-- <div ng-click="go()" >gogo</div> -->
