 
<form name="myForm">
    <!-- <input type="text" class="form-control" ng-model="user.From_Date" ng-change="onFromDateChange()" name="From_Date" bs-datepicker data-autoclose="1" data-date-format="dd-MM-yyyy" ><br>
    <input type="text" class="form-control" ng-model="user.To_Date" ng-change="onToDateChange()" name="To_Date" 
        bs-datepicker 
        data-autoclose="1" 
        data-date-format="dd-MM-yyyy" 
        data-min-date="{{ minToDate }}" 
        data-max-date="{{ maxToDate }}" > -->
</form>

{{ myForm.From_Date.$invalid }}
{{ myForm.To_Date.$invalid }}
{{ user | json }}
